@charset "utf-8";
*{
	--color-primary: white;
	--color-secondary: #A63D4F;
	--color-spacing: #E2E2F2;
	--color-shadow: gray;
	--trans-dur: 0.2s;
}

*{
	padding: 0;
	margin: 0;
	transition: ease-in-out var(--trans-dur);
}

.body-main{
	width: 100vw;
	overflow-x: hidden;

	b{
		font-weight: 600;
	}
}

/* Start of Nav */
.nav-base{
	position: sticky;
	top: 0px;
	padding: 2vw 0;
	display: flex;
	justify-content: center;
	width: 100vw;
	z-index: 1000;
}

nav{
	padding: 2vw 0;
	display: flex;
	width:90vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	border-radius: 25px;
	max-height: 250px;
	filter: drop-shadow(0px 0px 8px var(--color-shadow));
	.nav-img{
		min-height: 80px;
		object-fit: contain;
		width: max(30vw, 200px);
	}

	.nav-img.shrink {
    	width: max(20vw, 150px);
		min-height: 50px;
	}
}

.nav-container.shrink{
	padding: 1.25vw 0;
}

.nav-sub{
	margin-top: 1vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;

	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0 40px;
	}

	li{
		display: flex;
		align-items: center;
		text-align: center;
		background-color: var(--color-secondary);
		color: var(--color-primary);
		font-size: max(1.5vw, 15px) !important;
		font-weight: 500;
		border-radius: 5px;
		padding: 2px 1.5vw;
		border:solid var(--color-primary);
	}

	.nav-li.shrink{
		font-size: max(1.25vw, 12px) !important;
		padding: 0 1.5vw;
	}

	a{
		text-decoration: none;
	}

	li:hover{
		color: var(--color-secondary);
		background-color: var(--color-primary);
		border: solid;
	}
}
/* End of Nav */

/* Start of Section Styles */
.s-spacing-base{
	--s-b-rad: 15px;
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: var(--color-spacing);

	.s-spacing{
		width: 80%;
		background-color: var(--color-primary);
		padding: 3vw 4vw;
	}

	.no-top{
		padding-top: 0;
	}
}
/* End of Section Styles */

/* Helper Classes */
.b-solid {
	border: solid;
}

.v-center {
	transform: translateY(-50%);
	top: -50%;
}

.h-center {
	transform: translateX(-50%);
	left: -50%;
}

.y-of-auto {
	overflow-y: auto;
}

.font-archivo{
	font-family: "Archivo", sans-serif;
}

.font-noto-tc{
	font-family: "Noto Sans TC", sans-serif;
}

.chi{
	display: none;
	font-family: "Noto Sans TC", sans-serif;
}

.txt-justify{
	text-align: justify;
	text-justify: inter-word;
}

.h-sep{
	margin-top: 10vh;
}