@charset "utf-8";

.carousel-inner{
	height: 55vh;
}

.carousel-item {
	height: inherit;
	width: 100%;
	img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.s-quote{
	margin: 2vw 0;
	display: flex;
	text-align: center;
	color: var(--color-secondary);
	border-radius: var(--s-b-rad);

	h3{
		font-size: max(4vw, 35px);
		margin-bottom: -1.5vw;
	}

	p{
		font-size: max(2vw, 15px);
	}

	span{
		width: 100%;
	}
}

.s-welcome{
	border-radius: var(--s-b-rad) var(--s-b-rad) 0 0;

	b{
		color:var(--color-secondary);
	}

	h3 {
		font-size: max(3.5vw, 30px);
	}

	p{
		font-size: max(1.65vw, 18px);
		text-align: justify;
		text-justify: inter-word;
	}

	.row{
		display: flex;
		align-items: stretch;
	}

	.col-sm-6{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@media (max-width: 576px) {
		h3, p{
			text-align: center;
		}
	}
}

.s-abt-us{

	b{
		color: var(--color-secondary);
	}

	.row{
		display: flex;
		align-items: stretch;
	}

	ul{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		gap:  1vw 4vw;
	}
	
	li{
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		color: var(--color-primary);
		background-color: var(--color-secondary);
		padding: 2vh 3vw;
		font-size: max(1.75vw, 18px);
		font-weight: 500;
		border-radius: 8px;
		border: solid var(--color-primary);
	}

	li:hover{
		background-color: var(--color-primary);
		color: var(--color-secondary);
		border: solid var(--color-secondary);
	}

	img{
		height: 55vh;
		width: 100%;
		object-fit: cover;
		border-radius: var(--s-b-rad);
	}

	.col-sm{
		display: flex;
		flex-direction: column;
		height: 55vh;
		padding: 0 0 0 5vw;
	}

	h4{
		font-size: max(4vw, 35px);
	}

	p{
		overflow-y: auto;
		font-size: max(1.75vw, 18px);
		padding: 0 1.5vw 0 0;
	}

}